<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TPFinal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <TPFinal.Properties.Settings>
            <setting name="Form_EquipeSize" serializeAs="String">
                <value>567, 285</value>
            </setting>
            <setting name="Form_EquipeLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Form_JoueursSize" serializeAs="String">
                <value>479, 400</value>
            </setting>
            <setting name="Form_JoueursLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Form_MatchsSize" serializeAs="String">
                <value>795, 490</value>
            </setting>
            <setting name="Form_MatchsLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Form_DivisionsSize" serializeAs="String">
                <value>351, 201</value>
            </setting>
            <setting name="Form_DivisionsLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Form_StatsSize" serializeAs="String">
                <value>399, 421</value>
            </setting>
            <setting name="Form_StatsLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Form_Top3Size" serializeAs="String">
                <value>442, 353</value>
            </setting>
            <setting name="Form_Top3Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Form_ClassementSize" serializeAs="String">
                <value>435, 350</value>
            </setting>
            <setting name="Form_ClassementLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Form_CalendrierSize" serializeAs="String">
                <value>699, 416</value>
            </setting>
            <setting name="Form_CalendrierLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </TPFinal.Properties.Settings>
    </userSettings>
</configuration>